@import "./variables.scss";

.nav {
  padding: 16px;
  background-color: $first-bg-color;
  .nav-box {
    width: 100%;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    .menu-list {
      display: flex;
      a {
        margin-right: 16px;
        padding: 2px;
        border-radius: 4px;
        color: $first-font-color;
        font-size: 30px;
        font-weight: 900;
        text-decoration: none;
      }
    }
  }

  a {
    color: $first-font-color;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
