@import "./variables.scss";

.room {
  width: 100%;
  height: calc(100vh - 70px);
  .box-chat {
    height: 390px;
    background-color: #eee;
    border: 1px solid rgba($color: $first-bg-color, $alpha: 0.5);
    box-shadow: 0 0 10px 1px rgba($color: $five-bg-color, $alpha: 0.5);
    border-radius: 8px;
    overflow: hidden;
    margin: auto;
    .display-messages {
      height: 100%;
      height: calc(100% - 70px);
      padding: 4px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      position: relative;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      overflow-y: auto;

      .one-message {
        background-color: #111;
        margin-bottom: 4px;
        padding: 4px;
      }

      .from,
      .to {
        width: auto;
        padding: 4px;
        word-break: break-all;
        font-size: 14px;
      }

      .from {
        background-color: $second-bg-color;
        color: $first-font-color;
        border-radius: 4px 0 0 4px;
        -webkit-border-radius: 4px 0 0 8px;
        -moz-border-radius: 4px 0 0 8px;
        -ms-border-radius: 4px 0 0 8px;
        -o-border-radius: 4px 0 0 8px;
        -ms-flex-item-align: end;
        align-self: flex-end;
      }

      .to {
        background-color: $five-bg-color;
        color: $second-font-color;
        border-radius: 0 4px 4px 0;
        -webkit-border-radius: 0 4px 8px 0;
        -moz-border-radius: 0 4px 8px 0;
        -ms-border-radius: 0 4px 8px 0;
        -o-border-radius: 0 4px 8px 0;
        -ms-flex-item-align: start;
        align-self: flex-start;
      }

      .typing {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 2px;
        border-radius: 6px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        -o-border-radius: 6px;
        -webkit-animation-name: typeOpacity;
        animation-name: typeOpacity;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-delay: 0.5s;
        animation-delay: 0.5s;
        transition: all 0.5s ease-in-out;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
      }
    }

    .input-message {
      display: flex;
      flex-wrap: nowrap;
      width: 100%;
      height: 70px;
      > textarea {
        flex: 1;
        line-height: 1.5;
        height: 100%;
        word-wrap: break-word;
        word-break: break-all;
        outline: 0;
        border: 0;
        resize: none;
        padding: 4px;
      }
    }
  }
}

@-webkit-keyframes typeOpacity {
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.25;
  }
}

@keyframes typeOpacity {
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.25;
  }
}
